@keyframes rainbow {
  from {
    border-color: magenta;
  }
  to {
    border-color: magenta;
  }
}

element {
  border: 20px solid;
  animation: rainbow 10s infinite alternate ease-in-out;
}

body {
  background-image: linear-gradient(magenta, blue);
}

