@keyframes rainbow {
  0% {
    border-color: magenta;
  }
  25% {
    border-color: magenta;
  }
  50% {
    border-color: magenta;
  }
  75% {
    border-color: magenta;
  }
  100% {
    border-color: magenta;
  }
}

